langchain 
python-dotenv
langchain_community
pypdf
bs4
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
beautifulsoup4
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
langchain_chroma
langchain-classic
arxiv
wikipedia
ddgs
pymysql
validators==0.28.1
youtube_transcript_api
pytube
youtube-transcript-api==0.6.2
unstructured
huggingface_hub
gradio
